{% extends 'base.html' %}
{% load app_filters %}
{% block content %}


    <h1>Compartir el grupo con otro evaluador</h1>
    <h2>{{ grupo.nombre }} - {{ grupo.curso }}</h2>


    <form action="{{ server_url }}actualizar-grupo-compartido/" class="post-form" style="padding: 30px">

       Introduza el número único de identificación del evaluador con el que quiere
     compartir el grupo. <b>El otro evaluador puede consultar su número de identificación en
     su perfil</b><br><br>

        {% csrf_token %}
        Número de identificación del otro evaluador<br>
        <input type="number" name="idEvaluador" value=0>
        <input type="hidden" name="idGrupo" value="{{ grupo.pk }}">

        <br><br><br>
        <button type="submit" class="save btn btn-default">Guardar</button>
        <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>

    </form>



{% endblock %}
