{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Pruebas y documentos descargables</h1>

<div class="form-style-1">


	<table>


		  <thead>
            <th colspan="5">🎓 Cuadernos del evaluador</th>
		  </thead>

	<tr>
		<th>Prueba</th>
		<th>Infantil</th>
		<th>Primero</th>
		<th>Segundo</th>
		<th>Tercero</th>
	</tr>



		<tr>
			<td>📕 IPAL</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
		</tr>

		<tr>
			<td>📏 IPAM</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>

		</tr>

		<tr>
			<td>✍ IPAE</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>

		</tr>

	</table>


	<br><br><br>

	<table>


		  <thead>
            <th colspan="5">👧👦 Cuadernos del alumno</th>
		  </thead>

	<tr>
		<th>Prueba</th>
		<th>Infantil</th>
		<th>Primero</th>
		<th>Segundo</th>
		<th>Tercero</th>
	</tr>



		<tr>
			<td>📕 IPAL</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
		</tr>

		<tr>
			<td>📏 IPAM</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
		</tr>

		<tr>
			<td>✍ IPAE</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>
			<td>📄A 📄B 📄C</td>

		</tr>

	</table>



</div>


{% endblock %}

