{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}


    <h1>Establecer año académico</h1>
    <h2>El curso actual es {% get_curso curso %} </h2>
    <br>

    <form action="{{ server_url }}actualizar-curso\" class="post-form"  style="padding: 30px">

        {% csrf_token %}
        <input type="number" name="curso" value={{ curso }}>
        <br><br><br>
        <button type="submit" class="save btn btn-default">Guardar</button>
        <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>

    </form>



{% endblock %}
