{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Exportar datos</h1>

<div class="form-style-1" style="padding: 30px">

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=alumnos'">👪 Descargar datos de alumnos</button>
		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=evaluadores'">🎓 Descargar datos de evaluadores</button>
		<br><br><br>
		<H3>📕 IPAL </H3>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAL'">💾 Descargar datos IPAL-INFANTIL</button>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAL'">💾 Descargar datos IPAL-PRIMERO</button>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAL'">💾 Descargar datos IPAL-SEGUNDO</button>

		<br><br><BR>
		<H3>📏 IPAM </H3>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAM'">💾 Descargar datos IPAM-INFANTIL</button>
	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAM'">💾 Descargar datos IPAM-PRIMERO</button>
	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAM'">💾 Descargar datos IPAM-SEGUNDO</button>
	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAM'">💾 Descargar datos IPAM-TERCERO</button>
		<br><br><br>
		<H3>✍ IPAE </H3>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAE'">💾 Descargar datos IPAE-INFANTIL</button>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAE'">💾 Descargar datos IPAE-PRIMERO</button>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAE'">💾 Descargar datos IPAE-SEGUNDO</button>

	<br>


</div>


<h1>Importar datos</h1>

<div class="form-style-1" style="padding: 30px">

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}importar/?tipo=EVALUADORES'">📃 Importar evaluadores</button>

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}importar/?tipo=ALUMNOS'">👪 Importar alumnos</button>

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}importar/?tipo=GRUPOS'">🏡 Importar grupos</button>


</div>

{% endblock %}
