{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Exportar datos</h1>

<div class="form-style-1" style="padding: 30px">

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=alumnos'">👪 Descargar datos de alumnos</button>
		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=evaluadores'">🎓 Descargar datos de evaluadores</button>
		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAL'">📕 Descargar datos del IPAL</button>
		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAM'">📏 Descargar datos del IPAM</button>
		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar-csv/?tipo=IPAE'">✍ Descargar datos del IPAE</button>
		<br><br>


</div>
{% endblock %}
