{% extends 'base.html' %}
{% load app_filters %}
{% block content %}

    <h1>Su perfil de evaluador</h1>

    <form method="POST" class="post-form" style="padding: 30px">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table class="formularios" border="0">
        {% for field in form.visible_fields %}
        <tr class="formularios">
            <th class="formularios">{{ field.label_tag }}</th>
            <td class="formularios">
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}

        <td>👤 Identificador del evaluador <b>{{ id_evaluador }}</b></td>
     </table>


    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>
    </form>

{% endblock %}
