<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


{% block content %}

    <h1>Editar evaluación IPAL SEGUNDO</h1>
    <br>

    <form method="POST" class="post-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table border="0">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>

            {{ field.errors }}
            {{ field }}

            {% if field.label == "CSL TIEMPO" or field.label == "CLE TEXTO TIEMPO" or field.label == "CFS TIEMPO" or field.label == "VOC TIEMPO" %}
            ⌚
            {% endif %}
            {% if field.label == "CSL ACIERTOS" or field.label == "CLE TEXTO ACIERTOS" or field.label == "CFS ACIERTOS" or field.label == "VOC ACIERTOS" %}
            🎯
            {% endif %}


            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
     </table>


    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>
    </form>

{% endblock %}


<!--

    <form method="POST" class="post-form">{% csrf_token %}



 <table border="0">
    {{ form }}
  </table>


        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>

    <a href="{{ server_url }}">Cancelar</a>
-->
