{% extends 'base.html' %}
{% load app_filters %}
{% block content %}

    <h1>Editar evaluación IPAE TERCERO</h1>
     <div style="padding-left: 30px;">
    <b style="color: red;">🚩 Si el niño ha realizado todas las tareas
    de la prueba active la casilla 'Evaluado'</b><br>
    <b style="color: red;">🚩 Mantenga el valor -1 en aquellas tareas que el niño no haya podido realizar</b>
    </div>

    <form method="POST" style="padding: 30px" class="post-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table border="0">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
     </table>


    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>
    </form>

{% endblock %}

