{% extends 'base.html' %}
{% load app_filters %}
{% block content %}


    <h1>Editar evaluación IPAM PRIMERO</h1>
    <br>

    <form method="POST" style="padding: 30px" class="post-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {% if evaluacion.tipo == 'CR' %}
        <!-- es cribado, mostramos todas las tareas -->
        <table border="0">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
        </table>

    {% else %}

       <table border="0">
    <tr>
            <th>{{ form.evaluado.label_tag }}</th>
            <td>
            {{ form.evaluado.errors }}
            {{ form.evaluado }}
            {{ form.evaluado.help_text }}
            </td>
        </tr>
        <tr>
            <th>{{ form.SN.label_tag }}</th>
            <td>
            {{ form.SN.errors }}
            {{ form.SN }}
            {{ form.SN.help_text }}
            </td>
        </tr>
        <tr>
            <th>{{ form.CN.label_tag }}</th>
            <td>
            {{ form.CN.errors }}
            {{ form.CN }}
            {{ form.CN.help_text }}
            </td>
        </tr>



        </table>

    {% endif %}



    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>
    </form>

{% endblock %}

