{% extends 'base.html' %}
{% load app_filters %}
{% block content %}

    <h1>Editar evaluación IPAL PRIMERO</h1>
     <div style="padding-left: 30px;">
    <b style="color: red;">🚩 Si el niño ha realizado todas las tareas
    de la prueba active la casilla 'Evaluado'</b><br>
    <b style="color: red;">🚩 Mantenga el valor -1 en aquellas tareas en las que el niño no ha estado presente</b>
    </div>

    <form method="POST" style="padding: 30px" class="post-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}


    {% if evaluacion.tipo == 'CR' %}
        <!-- es cribado, mostramos todas las tareas -->

    <table border="0">
        {% for field in form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </td>
        </tr>
        {% endfor %}
     </table>


    {% else %}
         <!-- progreso -->

       <table border="0">
        <tr>
            <th>{{ form.evaluado.label_tag }}</th>
            <td>
            {{ form.evaluado.errors }}
            {{ form.evaluado }}
                 <!--
            {% if field.label == "CSL TIEMPO" %}
            ⌚
            {% endif %}
            {% if field.label == "CSL ACIERTOS" %}
            🎯
            {% endif %}
            -->
            {{ form.evaluado.help_text }}
            </td>
        </tr>
        <tr>
            <th>{{ form.LP.label_tag }}</th>
            <td>
            {{ form.LP.errors }}
            {{ form.LP }}
            {{ form.LP.help_text }}
            </td>
        </tr>
             <tr>
            <th>{{ form.CNL.label_tag }}</th>
            <td>
            {{ form.CNL.errors }}
            {{ form.CNL }}
            {{ form.CNL.help_text }}
            </td>
        </tr>
               <tr>
            <th>{{ form.FLO.label_tag }}</th>
            <td>
            {{ form.FLO.errors }}
            {{ form.FLO }}
            {{ form.FLO.help_text }}
            </td>
        </tr>

        <tr>
            <th>{{ form.CSL.label_tag }}</th>
            <td>
            {{ form.CSL.errors }}
            {{ form.CSL }}
            {{ form.CSL.help_text }}
            </td>
        </tr>
         <!--
            <tr>
            <th>{{ form.CSL_ACIERTOS.label_tag }}</th>
            <td>
            {{ form.CSL_ACIERTOS.errors }}
            {{ form.CSL_ACIERTOS }} 🎯
            {{ form.CSL_ACIERTOS.help_text }}
            </td>
        </tr>
        <tr>
            <th>{{ form.CSL_TIEMPO.label_tag }}</th>
            <td>
            {{ form.CSL_TIEMPO.errors }}
            {{ form.CSL_TIEMPO }} ⌚
            {{ form.CSL_TIEMPO.help_text }}
            </td>
        </tr>
        -->
    </table>

    {% endif %}

    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
        >Cancelar</button>
    </form>

{% endblock %}

