{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Importar datos</h1>


<h2>Formato del fichero CSV para <b>{{ tipo }}</b></h2>
{% if tipo == "GRUPOS" %}
    <h2><i>
        código del centro, curso (INF, PRI, SEG, TER), nombre del grupo, nombre del centro, curso académico, isla,
    </i></h2>
{% endif %}
{% if tipo == "ALUMNOS" %}
    <h2><i>
        código CIAL, fecha (d/m/a), grupo ID, curso (INF, PRI, SEG, TER), curso académico, código del centro, género
    </i></h2>
{% endif %}
{% if tipo == "EVALUADORES" %}
    <h2><i>
        código/DNI, password, nombre, código del centro, nombre del centro, email
    </i></h2>
{% endif %}
<div class="form-style-1" style="padding: 30px">

<form method="POST" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<div class="form-group">
    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Fichero CSV para importar</label>
    <div class="col-md-8">
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>🔧 Importar</button>
    </div>
</div>
</form>

</div>

{% endblock %}
