<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>



<div class="form-style-1">
	<h1>Informe de rendimiento del grupo</h1>
	<h1>Prueba {{ prueba }} - {{ grupo.curso }}</h1>
	<h2>{{ grupo.nombre }}</h2>
</div>

 <br>
    <form>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
    >👈 Volver</button>
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
    >📜 Imprimir</button>
    </form>

<div id="contenedor">



    <!-- contenedores de los graficos -->
	<div id="inicio">
		<div id="grafico-inicio" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</div>
	<div id="medio">
		<div id="grafico-medio" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</div>
	<div id="fin">
		<div id="grafico-fin" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</div>

</div>



<script>

// diccionario de colores de riesgo:
// NO EVALUDO, ALTO RIESGO, RIESGO, BAJO RIESGO,
// NORMAL y OPTIMO


// generar un diccionario con todas las evaluaciones
// recibidas en el parametro %evaluaciones%

var evaluaciones = {
{% for evaluacion in evaluaciones %}
    "{{ evaluacion.alumno.pk }}-{{ evaluacion.momento}}" : "{{ evaluacion.omnibus }}",
    "{{ evaluacion.alumno.pk }}-COLOR-RIESGO-{{ evaluacion.momento}}" : "{{ evaluacion.color_riesgo }}",
{% endfor %}
};


// crear diccionario de datos del grafico
var datos = [
{% for alumno in alumnos %}
    {
        "nombre": "{{ alumno.nombre }}",
	    "rendimiento-inicio": evaluaciones["{{ alumno.pk }}-INICIO"],
	    "rendimiento-medio": evaluaciones["{{ alumno.pk }}-MEDIO"],
	    "rendimiento-fin": evaluaciones["{{ alumno.pk }}-FIN"],
		"color-inicio": evaluaciones["{{ alumno.pk }}-COLOR-RIESGO-INICIO"],
        "color-medio": evaluaciones["{{ alumno.pk }}-COLOR-RIESGO-MEDIO"],
        "color-fin": evaluaciones["{{ alumno.pk }}-COLOR-RIESGO-FIN"]
    },{% endfor %}
];
</script>




<script type="text/javascript">

	var linea_base = -5;

			AmCharts.makeChart("grafico-inicio",
				{
					"type": "serial",
					"categoryField": "nombre",
					"rotate": true,
					"sequencedAnimation": false,
					"gridAboveGraphs": true,
					"accessible": false,
					"creditsPosition": "bottom-right",
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-inicio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"lineThickness": 0,
							"showBalloon": false,
							"valueField": "rendimiento-inicio"
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 0
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Inicio"
						}
					],
					"dataProvider": datos
				}
			);


			AmCharts.makeChart("grafico-medio",
				{
					"type": "serial",
					"categoryField": "nombre",
					"rotate": true,
					"sequencedAnimation": false,
					"gridAboveGraphs": true,
					"accessible": false,
					"creditsPosition": "bottom-right",
					"categoryAxis": {
						"labelsEnabled": false
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-medio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"lineThickness": 0,
							"showBalloon": false,
							"valueField": "rendimiento-medio"
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.32
						}
					],

					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 0
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Medio"
						}
					],
					"dataProvider": datos
				}
			);


			AmCharts.makeChart("grafico-fin",
				{
					"type": "serial",
					"categoryField": "nombre",
					"rotate": true,
					"sequencedAnimation": false,
					"gridAboveGraphs": true,
					"accessible": false,
					"creditsPosition": "bottom-right",
					"categoryAxis": {
						"labelsEnabled": false
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-fin",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"lineThickness": 0,
							"type": "column",
							"showBalloon": false,
							"valueField": "rendimiento-fin"
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.31
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 0
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Fin"
						}
					],
					"dataProvider": datos
				}
			);
		</script>

<style>
	#contenedor {
		width: 1040px;
		margin: 0 auto;
	}
	#inicio {
		float: left;
		width: 400px;
	}
	#medio {
		float: left;
		width: 320px;
	}
	#fin {
		float: left;
		width: 320px;
	}
</style>


