{% extends 'base.html' %}
{% load app_filters %}
{% block content %}



<script>

/*
	Calculo de colores de riesgo dependiendo
	de las puntuaciones directas de cada tarea
	en el inicio, medio y fin
*/


// INICIO




function get_riesgo_CN_inicio(pd){	
	if(pd <= 27) return 0;
	if(pd >= 28 && pd <= 32) return 1;
	if(pd >= 33 && pd <= 37) return 2;
	if(pd > 37) return 3;
 
}	

function get_riesgo_ODD_inicio(pd){	
	if(pd <= 6) return 0;
	if(pd >= 7 && pd <= 8) return 1;
	if(pd == 9) return 2;
	if(pd > 9) return 3;	 
}	

function get_riesgo_SN_inicio(pd){		 
	if(pd == 0) return 0;
	if(pd == 1) return 1;
	if(pd == 2) return 2;	
	if(pd > 2) return 2;		 
}	

function get_riesgo_OUD_inicio(pd){	
	if(pd <= 4) return 0;
	if(pd >= 5 && pd <= 7) return 1;
	if(pd == 8) return 2;
	if(pd > 8) return 3;	 
}	

function get_riesgo_VP_inicio(pd){	 
	if(pd <= 1) return 0;
	if(pd >= 2 && pd <= 3) return 1;
	if(pd == 4) return 2;
	if(pd > 4) return 3;	 
}	



// MEDIO

function get_riesgo_CN_medio(pd){	
	// REVISAR TABLA HAY ERRORES
	if(pd <= 37) return 0;
	if(pd == 38) return 1;
	if(pd >= 39 && pd <= 42) return 2;
	if(pd >= 3) return 3; 
}	

function get_riesgo_ODD_medio(pd){	
	if(pd <= 6) return 0;
	if(pd >= 7 && pd <= 8) return 1;
	if(pd >= 9 && pd <= 10) return 1;
	if(pd > 10) return 3;	 
}	

function get_riesgo_SN_medio(pd){		 
	if(pd <= 3) return 0;
	if(pd == 4) return 1;
	if(pd >= 5 && pd <= 6) return 1;
	if(pd > 6) return 2;		 
}	

function get_riesgo_OUD_medio(pd){	
	if(pd <= 8) return 0;
	if(pd >= 9 && pd <= 10) return 1;
	if(pd == 11) return 2;
	if(pd > 11) return 3;	 
}	

function get_riesgo_VP_medio(pd){	 
	if(pd <= 2) return 0;
	if(pd >= 3 && pd <= 4) return 1;
	if(pd == 5) return 2;
	if(pd > 5) return 3;	 
}	

// FIN 


function get_riesgo_CN_fin(pd){		
	if(pd <= 38) return 0;
	if(pd >= 39 && pd <= 45) return 1;
	if(pd >= 46 && pd <= 47) return 2;
	if(pd > 47) return 3; 
}	

function get_riesgo_ODD_fin(pd){	
	if(pd <= 7) return 0;
	if(pd >= 8 && pd <= 9) return 1;
	if(pd == 10) return 2;
	if(pd > 10) return 3;	 
}	

function get_riesgo_SN_fin(pd){			 
	if(pd <= 2) return 0;
	if(pd >= 3 && pd <= 7) return 1;
	if(pd >= 8 && pd <= 9) return 2;
	if(pd > 9) return 3;		 
}	

function get_riesgo_OUD_fin(pd){	
	if(pd <= 9) return 0;
	if(pd >= 10 && pd <= 12) return 1;
	if(pd >= 13 && pd <= 15) return 2;
	if(pd > 15) return 3;	 
}	

function get_riesgo_VP_fin(pd){	 
	if(pd <= 2) return 0;
	if(pd >= 3 && pd <= 10) return 1;
	if(pd == 11) return 2;
	if(pd > 11) return 3;	 
}	
 

</script>

<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>

<h1>Informe individual IPAM-TECERO</h1>
<h2>{{ grupo.nombre }}</h2>
<h2>{{ alumno.codigo }}</h2>

    <form style="padding: 30px">
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
    >👈 Volver</button>
    <button type="button" class="save btn btn-default" onclick="window.print()"
    >📜 Imprimir</button>
    </form>


<!-- menu de tareas -->
<table style="width:80%">
  <tr>
  <td><a onclick="cambiar_subprueba(0)" href="#chartdiv">Comparación numérica (CN)</a></td>
  <td><a onclick="cambiar_subprueba(1)" href="#chartdiv">Operaciones dos dígitos (ODD)</a></td>  
	<td><a onclick="cambiar_subprueba(2)" href="#chartdiv">Secuencias numéricas (SN)</a></td>
 	<td><a onclick="cambiar_subprueba(3)" href="#chartdiv">Operaciones un dígito (OUD)</a></td>
	<td><a onclick="cambiar_subprueba(4)" href="#chartdiv">Valor posición (VP)</a></td>
</table>
<br><br>

<!-- grafico por tarea
<div id="grafico-por-tareas" style=" margin: auto;width: 80%;height: 600px;background-color: #FFFFFF"></div>-->
<div id="contenedor">
	<h2>Evolución por tareas</h2>
<div id="grafico-por-tareas" style=" margin: auto;width: 80%;height: 600px;background-color: #FFFFFF"></div>
	<br><br>
</div>

<div class="page-break"></div>

<!-- grafico por evaluaciones -->
<div id="contenedor">
<br><br>
	<h2>Evaluaciones de cribado</h2>

	<div id="inicio">
		<div id="grafico-evaluaciones-inicio" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="medio">
		<div id="grafico-evaluaciones-medio" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="fin">
		<div id="grafico-evaluaciones-fin" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
</div>


<!-- grafico de progreso -->
<div id="contenedor">

	<h2>Evaluaciones de progreso</h2>

	<div id="diciembre">
		<div id="grafico-progreso-diciembre" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="enero">
		<div id="grafico-progreso-enero" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="marzo">
		<div id="grafico-progreso-marzo" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="abril">
		<div id="grafico-progreso-abril" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>

</div>


<script>

	colores = [ "#f00", "#ffa500", "#009fff","#1ae36e"]

</script>


<script>


// generar un diccionario con todas las evaluaciones
// recibidas en el parametro %evaluaciones%.

var evaluaciones = {
{% for evaluacion in evaluaciones %}
// nivel de riesgo
"{{ evaluacion.mes }}" : "{{ evaluacion.evaluado }}",
// evaluacion valida
"{{ evaluacion.mes }}-EVALUADO" : "{{ evaluacion.evaluado }}",
// valores de las tareas
"{{ evaluacion.mes }}-CN" : "{{ evaluacion.CN }}",
"{{ evaluacion.mes }}-ODD" : "{{ evaluacion.ODD }}",
"{{ evaluacion.mes }}-SN" : "{{ evaluacion.SN }}",
"{{ evaluacion.mes }}-OUD" : "{{ evaluacion.OUD }}",
"{{ evaluacion.mes }}-VP" : "{{ evaluacion.VP }}",
{% endfor %}
// valores del OMNIBUS para cada evaluacion
"OMNIBUS-INICIO" : {{ evaluacion_inicio }},
"OMNIBUS-MEDIO": {{ evaluacion_medio }},
"OMNIBUS-FIN": {{ evaluacion_fin }}
};


// devuelve el valor correcto para cada prueba, dependiendo
// del mes de evaluacion. Esta funcion tiene en cuenta que
// si un mes el niño no es evaluado, se debe tomar el ultimo
// mes del que se tiene
function ultima_evaluacion(prueba, evaluacion_actual){


	// recorremos desde la evaluacion actual al a primera.
	for (i = evaluacion_actual; i >= 1; i--) {

		// key de acceso a la puntuacion de la prueba
		var key_tarea = i + "-" + prueba

		// comprobamos si fue evaluado
		if (evaluaciones[i] == "True"){

			// devolvemos la puntuacion de la tarea porque
			// es la mas reciente
			return evaluaciones[key_tarea]

		} else {

			// pasamos a la evaluacion anterior

		}

	}


	return 0
}

function puntuacion_directa(prueba, momento){
	var key = momento + "-" + prueba
	return evaluaciones[key]
}

</script>

<script>

// cambiar la subtarea mostrada en el grafico
function cambiar_subprueba(d) {

	var titulos_graficos = ["CN", "ODD", "SN", "OUD", "VP" ];
	var subtitulos = ["Comparación numérica", "Operaciones dos dígitos", "Series numéricas", 
	"Operaciones un dígito", "Valor posición"
	];

	var propiedadTitulos = [
		{"text": "",	"size": 25}	,
		{"text": subtitulos[d],	"size": 20},
		{"text": titulos_graficos[d], "size": 10}
	];

	grafico.titles = propiedadTitulos;
	grafico.dataProvider = data_subtareas[d];
	grafico.validateData();
	grafico.validateNow();
}

</script>


<script>

	/*
		Grafico de subtareas, de momento solo voy a mostrar las evaluaciones
		inicio, medio, fin. Despues tendre que preparar el grafico para que muestre
		todas las evaluaciones. Para esto, cuando no tengamos datos de una evaluacion
		de progreso, usaremos la ultima evaluacion conocida

	*/

	// configuracion del grafico
	var max = 10;
	var	punteado = 5;
	var etiquetaEvaluado = "";
	var etiquetaNoEvaluado = "No evaluado";


	// datasets para cada tarea
	
	var dataset_CN = [
	{
		"valor-maximo": 64,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 35,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 1)
	},
	{
		"valor-maximo": 64,
		"category": "Diciembre",
		"estilo": evaluaciones[2] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[2] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 35,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 2)
	},
	{
		"valor-maximo": 64,
		"category": "Enero",
		"estilo": evaluaciones[3] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[3] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 35,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 3)
	},
		{
		"valor-maximo": 64,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo":43,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 5,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 4)
	},
		{
		"valor-maximo": 64,
		"category": "Marzo",
		"estilo": evaluaciones[5] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[5] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo":43,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 5,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 5)
	},
		{
		"valor-maximo": 64,
		"category": "Abril",
		"estilo": evaluaciones[6] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[6] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo":43,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 5,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 6)
	},
	{
		"valor-maximo": 64,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 48,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 7,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CN", 7)
	}
	];
	
	var dataset_ODD = [
		{
		"valor-maximo": 45,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 3,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 1)
		},
		{
		"valor-maximo": 45,
		"category": "Diciembre",
		"estilo": evaluaciones[2] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[2]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 3,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 2)
	}, 	
		{
		"valor-maximo": 45,
		"category": "Enero",
		"estilo": evaluaciones[3] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[3]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 3,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 3)
	}, 	
	{
		"valor-maximo": 45,
		"category": "Febrero",
		"estilo": evaluaciones[4]  == "True"? 0 : punteado,
		"etiqueta": evaluaciones[4]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 4)
	},
	{
		"valor-maximo": 45,
		"category": "Marzo",
		"estilo": evaluaciones[5]  == "True"? 0 : punteado,
		"etiqueta": evaluaciones[5]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 5)
	},
	{
		"valor-maximo": 45,
		"category": "Abril",
		"estilo": evaluaciones[6]  == "True"? 0 : punteado,
		"etiqueta": evaluaciones[6]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 6)
	},
	{
		"valor-maximo": 45,
		"category": "Mayo",
		"estilo": evaluaciones[7]  == "True"? 0 : punteado,
		"etiqueta": evaluaciones[7]  == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 4,
		"rendimiento-bajo": 1,
		"rendimiento-medio":2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("ODD", 7)
	}
	];




	var dataset_SN = [
	{
		"valor-maximo": 45,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 1)
	},
	{
		"valor-maximo": 45,
		"category": "Diciembre",
		"estilo": evaluaciones[2] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[2] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 2)
	},
	{
		"valor-maximo": 45,
		"category": "Enero",
		"estilo": evaluaciones[3] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[3] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 3)
	},
	{
		"valor-maximo": 45,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 4)
	},
	{
		"valor-maximo": 45,
		"category": "Marzo",
		"estilo": evaluaciones[5] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[5] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 5)
	},
	{
		"valor-maximo": 45,
		"category": "Abil",
		"estilo": evaluaciones[6] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[6] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 6)
	},
	{
		"valor-maximo": 45,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 7,
		"rendimiento-bajo":3,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 7)
	}
	];

	var dataset_OUD = [
	{
		"valor-maximo": 45,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 10,
		"rendimiento-bajo":1 ,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 1)
	},
	{
		"valor-maximo": 45,
		"category": "Diciembre",
		"estilo": evaluaciones[2] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[2] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 10,
		"rendimiento-bajo":1 ,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 2)
	},
	{
		"valor-maximo": 45,
		"category": "Enero",
		"estilo": evaluaciones[3] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[3] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 10,
		"rendimiento-bajo":1 ,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 3)
	},
	{
		"valor-maximo": 45,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 4)
	},
	{
		"valor-maximo": 45,
		"category": "Marzo",
		"estilo": evaluaciones[5] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[5] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 5)
	},
	{
		"valor-maximo": 45,
		"category": "Abril",
		"estilo": evaluaciones[6] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[6] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("OUD", 6)
	},
	{
		"valor-maximo": 45,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 13,
		"rendimiento-bajo": 5,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("OUD", 7)
	}
	];
  

	var dataset_VP = [
	{
		"valor-maximo": 45,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("VP", 1)
	},
	{
		"valor-maximo": 45,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("VP", 4)
	},
	{
		"valor-maximo": 45,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 7,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("VP", 7)
	}
	];
 

// lista con los dataproviders de cada subtarea
var data_subtareas = [ 
	dataset_CN, dataset_ODD, dataset_SN,  dataset_OUD, dataset_VP
];

</script>


<script>

 

var datos_por_evaluaciones = [
	{
	"info": "esta primera entrada de datos es solo para ajustar la escala",
	"subtarea": "",
	"rendimiento-inicio": 150,
	"rendimiento-medio": 150,
	"rendimiento-fin": 150,
	"color-inicio":"#ffffff",
	"color-medio":"#ffffff",
	"color-fin":"#ffffff",
	},	
	{
	"subtarea": "CN",
	"rendimiento-inicio": puntuacion_directa("CN", 1),
	"rendimiento-medio": puntuacion_directa("CN", 4),
	"rendimiento-fin": puntuacion_directa("CN", 7),
	"color-inicio": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 1) ) ],
	"color-medio": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 4) )],
	"color-fin": colores[ get_riesgo_CN_fin( puntuacion_directa("CN", 7) )]
	},	
	{
	"subtarea": "ODD",
	"rendimiento-inicio": puntuacion_directa("ODD", 1),
	"rendimiento-medio": puntuacion_directa("ODD", 4),
	"rendimiento-fin": puntuacion_directa("ODD", 7),
	"color-inicio": colores[ get_riesgo_ODD_inicio( puntuacion_directa("ODD", 1) ) ],
	"color-medio": colores[ get_riesgo_ODD_medio( puntuacion_directa("ODD", 4) )],
	"color-fin": colores[ get_riesgo_ODD_fin( puntuacion_directa("ODD", 7) )]
	},	
	{
	"subtarea": "SN",
	"rendimiento-inicio": puntuacion_directa("SN", 1),
	"rendimiento-medio": puntuacion_directa("SN", 4),
	"rendimiento-fin": puntuacion_directa("SN", 7),
	"color-inicio": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 1) ) ],
	"color-medio": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 4) )],
	"color-fin": colores[ get_riesgo_SN_fin( puntuacion_directa("SN", 7) )]
	},	
	{
	"subtarea": "OUD",
	"rendimiento-inicio": puntuacion_directa("OUD", 1),
	"rendimiento-medio": puntuacion_directa("OUD", 4),
	"rendimiento-fin": puntuacion_directa("OUD", 7),
	"color-inicio": colores[ get_riesgo_OUD_inicio( puntuacion_directa("OUD", 1) ) ],
	"color-medio": colores[ get_riesgo_OUD_medio( puntuacion_directa("OUD", 4) )],
	"color-fin": colores[ get_riesgo_OUD_fin( puntuacion_directa("OUD", 7) )]
	},
	{
	"subtarea": "VP",
	"rendimiento-inicio": puntuacion_directa("VP", 1),
	"rendimiento-medio": puntuacion_directa("VP", 4),
	"rendimiento-fin": puntuacion_directa("VP", 7),
	"color-inicio": colores[ get_riesgo_VP_inicio( puntuacion_directa("VP", 1) ) ],
	"color-medio": colores[ get_riesgo_VP_medio( puntuacion_directa("VP", 4) )],
	"color-fin": colores[ get_riesgo_VP_fin( puntuacion_directa("VP", 7) )]
	}
];
 
</script>


<script>

	/*
	 datos para las tareas en las medidas
	 de progreso
	*/

 
 
var datos_graficos_progreso = [
	{
	"info": "esta primera entrada de datos es solo para ajustar la escala",
	"subtarea": "",
	"rendimiento-diciembre": 150,
	"rendimiento-enero": 150,
	"rendimiento-marzo": 150,
	"rendimiento-abril": 150,
	"color-diciembre": "#ffffff",
	"color-enero": "#ffffff",
	"color-marzo": "#ffffff",
	"color-abril": "#ffffff"
	},	

	{
	"subtarea": "CN",
	"rendimiento-diciembre": puntuacion_directa("CN", 2),
	"rendimiento-enero": puntuacion_directa("CN", 3),
	"rendimiento-marzo": puntuacion_directa("CN", 5),
	"rendimiento-abril": puntuacion_directa("CN", 6),
	"color-diciembre": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 2) ) ],
	"color-enero": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 3) ) ],
	"color-marzo": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 5) )],
	"color-abril": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 6) )]
	},

	{
	"subtarea": "SN",
	"rendimiento-diciembre": puntuacion_directa("SN", 2),
	"rendimiento-enero": puntuacion_directa("SN", 3),
	"rendimiento-marzo": puntuacion_directa("SN", 5),
	"rendimiento-abril": puntuacion_directa("SN", 6),
	"color-diciembre": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 2) ) ],
	"color-enero": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 3) ) ],
	"color-marzo": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 5) )],
	"color-abril": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 6) )]
	},
	{
	"subtarea": "OUD",
	"rendimiento-diciembre": puntuacion_directa("OUD", 2),
	"rendimiento-enero": puntuacion_directa("OUD", 3),
	"rendimiento-marzo": puntuacion_directa("OUD", 5),
	"rendimiento-abril": puntuacion_directa("OUD", 6),
	"color-diciembre": colores[ get_riesgo_OUD_inicio( puntuacion_directa("OUD", 2) ) ],
	"color-enero": colores[ get_riesgo_OUD_inicio( puntuacion_directa("OUD", 3) ) ],
	"color-marzo": colores[ get_riesgo_OUD_medio( puntuacion_directa("OUD", 5) )],
	"color-abril": colores[ get_riesgo_OUD_medio( puntuacion_directa("OUD", 6) )]
	},
	{
	"subtarea": "ODD",
	"rendimiento-diciembre": puntuacion_directa("ODD", 2),
	"rendimiento-enero": puntuacion_directa("ODD", 3),
	"rendimiento-marzo": puntuacion_directa("ODD", 5),
	"rendimiento-abril": puntuacion_directa("ODD", 6),
	"color-diciembre": colores[ get_riesgo_ODD_inicio( puntuacion_directa("ODD", 2) ) ],
	"color-enero": colores[ get_riesgo_ODD_inicio( puntuacion_directa("ODD", 3) ) ],
	"color-marzo": colores[ get_riesgo_ODD_medio( puntuacion_directa("ODD", 5) )],
	"color-abril": colores[ get_riesgo_ODD_medio( puntuacion_directa("ODD", 6) )]
	},
	{
	"subtarea": "VP",
	"rendimiento-diciembre": puntuacion_directa("VP", 2),
	"rendimiento-enero": puntuacion_directa("VP", 3),
	"rendimiento-marzo": puntuacion_directa("VP", 5),
	"rendimiento-abril": puntuacion_directa("VP", 6),
	"color-diciembre": colores[ get_riesgo_VP_inicio( puntuacion_directa("VP", 2) ) ],
	"color-enero": colores[ get_riesgo_VP_inicio( puntuacion_directa("VP", 3) ) ],
	"color-marzo": colores[ get_riesgo_VP_medio( puntuacion_directa("VP", 5) )],
	"color-abril": colores[ get_riesgo_VP_medio( puntuacion_directa("VP", 6) )]
	}


];
 
</script>


<script>

	var grafico =  new AmCharts.makeChart("grafico-por-tareas",
				{
					"type": "serial",
					"categoryField": "category",
					"sequencedAnimation": false,
					"accessible": false,
					"tapToActivate": false,
					"categoryAxis": {
						"startOnAxis": true
					},
					"plotAreaFillAlphas": 1,
					"plotAreaFillColors": "#78E935",
					"trendLines": [],
					"graphs": [
						
						{
							"fillAlphas": 1,
							"fillColors": "#F21919",
							"id": "area-riesgo",
							"lineAlpha": 0,
							"title": "Riesgo",
							"valueField": "riesgo"
						},
						{
							"fillAlphas": 1,
							"id": "area-bajo-rendimiento",
							"lineAlpha": 0,
							"title": "Rendimiento bajo",
							"valueField": "rendimiento-bajo"
						},
						{
							"fillAlphas": 1,
							"lineAlpha": 0,
							"id": "area-media",
							"fillColors": "#538DE0",
							"title": "Rendimiento medio",
							"valueField": "rendimiento-medio"
						},

						{
							// marca el maximo de la tarea
							"fillColors": "#000000",
							"id": "maximo-tarea",
							"lineColor": "#00C300",
							"lineThickness": 10,
							"stackable": false,
							"title": "Rendimiento óptimo",
							"valueField": "valor-maximo"
						},

						{
							"fillColors": "#000000",
							"id": "rendimiento",
							"lineColor": "#000000",
							"lineThickness": 3,
							"stackable": false,
							"title": "Rendimiento del alumno",
							"valueField": "rendimiento-alumno",
							"bullet": "round",
							"dashLengthField":"estilo",
							"labelText": "[[etiqueta]]",
						}
					],
					"guides": [],
					"valueAxes": [{
					"id": "ValueAxis-1",
					"stackType": "regular",
					"title": "Rendimiento",
					// valores maximos y minimos
					"maximum": "valor-maximo",
					"minimum": 0
					}
					],

					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"switchable": false
					},
					"titles": [
						{
							"id": "titulo",
							"size": 25,
							"text": ""
						},
						{"text": "Comparaciones numéricas",	"size": 20},
						{"text": "CN",	"size": 10}
					],
					"dataProvider": dataset_CN
				}
			);
</script>




<script>
 

	var linea_base = 0;

			AmCharts.makeChart("grafico-evaluaciones-inicio",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-inicio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-inicio",
							"hidden": evaluaciones[1] != "NOEV" ? false : true
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Inicio"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);


			AmCharts.makeChart("grafico-evaluaciones-medio",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"gridAboveGraphs": true,
					"creditsPosition": "bottom-right",
					"rotate": true,
					"sequencedAnimation": false,
					"accessible": false,
					"categoryAxis": {

					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-medio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-medio",
							"hidden": evaluaciones[4] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.32
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Medio"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);


			AmCharts.makeChart("grafico-evaluaciones-fin",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"creditsPosition": "bottom-right",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"accessible": false,
					"categoryAxis": {

					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-fin",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-fin",
							"hidden": evaluaciones[7] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.31
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Fin"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);

 
</script>


<script>
 
	var linea_base = 0;
	AmCharts.makeChart("grafico-progreso-diciembre",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-diciembre",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-diciembre",
							//"hidden": evaluaciones[2] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Diciembre"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

			AmCharts.makeChart("grafico-progreso-enero",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-enero",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-enero",
							//"hidden": evaluaciones[3] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Enero"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);



				AmCharts.makeChart("grafico-progreso-marzo",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-marzo",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-marzo",
							//"hidden": evaluaciones[5] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Marzo"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

				AmCharts.makeChart("grafico-progreso-abril",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-abril",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-abril",
							//"hidden": evaluaciones[6] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Abril"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

 
</script>


{% endblock %}
