{% extends 'base.html' %}
{% load app_filters %}
{% block content %}



<script>

/*
	Calculo de colores de riesgo dependiendo
	de las puntuaciones directas de cada tarea
	en el inicio, medio y fin
*/

// INICIO

function get_riesgo_CN_inicio(pd){
	if(pd <= 16) return 0;
	if(pd >= 17 && pd <= 18) return 1;
	if(pd == 19) return 2;
	if(pd > 19) return 3;
}

function get_riesgo_EC_inicio(pd){
	if(pd <= 10) return 0;
	if(pd == 11 && pd <= 18) return 1;
	if(pd == 12) return 2;
	if(pd > 12) return 3;
}

function get_riesgo_SN_inicio(pd){
	if(pd <= 5) return 0;
	if(pd == 6 && pd <= 18) return 1;
	// no
	if(pd > 6) return 3;
}

function get_riesgo_IN_inicio(pd){
	if(pd <= 12) return 0;
	if(pd >= 13 && pd <= 16) return 1;
	if(pd >= 17 && pd <= 19) return 2;
	if(pd > 19) return 3;
}

function get_riesgo_CVA_inicio(pd){
	if(pd <= 26) return 0;
	if(pd == 27) return 1;
	if(pd == 28) return 2;
	if(pd > 28) return 3;
}


function get_riesgo_CM_inicio(pd){
	if(pd <= 17) return 0;
	if(pd == 18) return 1;
	if(pd == 19) return 2;
	if(pd > 19) return 3;
}


// MEDIO

function get_riesgo_CN_medio(pd){
	if(pd <= 19) return 0;
	if(pd >= 20 && pd <= 21) return 1;
	if(pd == 22) return 2;
	if(pd > 22) return 3;
}

function get_riesgo_EC_medio(pd){
	if(pd <= 11) return 0;
	if(pd == 12) return 1;
	if(pd == 13) return 2;
	if(pd > 13) return 3;
}

function get_riesgo_SN_medio(pd){
	if(pd <= 6) return 0;
	if(pd == 7 ) return 1;
	// no
	if(pd > 7) return 3;
}

function get_riesgo_IN_medio(pd){
	if(pd <= 20) return 0;
	if(pd >= 21 && pd <= 23) return 1;
	if(pd >= 24 && pd <= 25) return 2;
	if(pd > 25) return 3;
}

function get_riesgo_CVA_medio(pd){
	if(pd <= 28) return 0;
	if(pd == 29) return 1;
	if(pd == 30) return 2;
	if(pd > 30) return 3;
}


function get_riesgo_CM_medio(pd){
	if(pd <= 22) return 0;
	// no
	if(pd == 23) return 2;
	if(pd > 23) return 3;
}


// FIN


function get_riesgo_CN_fin(pd){
	if(pd <= 24) return 0;
	if(pd == 25) return 1;
	if(pd == 26) return 2;
	if(pd > 26) return 3;
}

function get_riesgo_EC_fin(pd){
	if(pd <= 11) return 0;
	if(pd >= 12 && pd <= 13) return 1;
	if(pd == 14) return 2;
	if(pd > 14) return 3;
}

function get_riesgo_SN_fin(pd){
	if(pd <= 8) return 0;
	if(pd == 9) return 1;
	// no
	if(pd > 9) return 3;
}

function get_riesgo_IN_fin(pd){
	if(pd < 28) return 0;
	if(pd == 28) return 1;
	if(pd >= 29 && pd <= 30) return 2;
	if(pd > 30) return 3;
}

function get_riesgo_CVA_fin(pd){
	if(pd <= 30) return 0;
	if(pd >= 31 && pd <= 37) return 1;
	if(pd == 38) return 2;
	if(pd > 38) return 3;
}


function get_riesgo_CM_fin(pd){
	if(pd <= 23) return 0;
	if(pd == 24) return 1;
	if(pd == 25) return 2;
	if(pd > 25) return 3;
}

 

</script>

<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>

<h1>Informe individual IPAM-INFANTIL</h1>
<h2>{{ grupo.nombre }}</h2>
<h2>{{ alumno.codigo }}</h2>

    <form style="padding: 30px">
    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ server_url }}'"
    >👈 Volver</button>
    <button type="button" class="save btn btn-default" onclick="window.print()"
    >📜 Imprimir</button>
    </form>

<!-- menu de tareas -->
<table style="width:80%">
  <tr>
  <td><a onclick="cambiar_subprueba(0)" href="#chartdiv">Comparación numérica (CN)</a></td>
  <td><a onclick="cambiar_subprueba(1)" href="#chartdiv">Estimación de cantidad (EC)</a></td>
  <td><a onclick="cambiar_subprueba(2)" href="#chartdiv">Secuencias numéricas (SN)</a></td>
	  <td><a onclick="cambiar_subprueba(3)" href="#chartdiv">Identificación numérica (IN)</a></td>
	<td><a onclick="cambiar_subprueba(4)" href="#chartdiv">Conteo voz alta (CVA)</a></td>
	<td><a onclick="cambiar_subprueba(5)" href="#chartdiv">Comparación de magnitud (CM)</a></td>
</table>
<br><br>

<!-- grafico por tarea
<div id="grafico-por-tareas" style=" margin: auto;width: 80%;height: 600px;background-color: #FFFFFF"></div>-->
<div id="contenedor">
	<h2>Evolución por tareas</h2>
<div id="grafico-por-tareas" style=" margin: auto;width: 80%;height: 600px;background-color: #FFFFFF"></div>
	<br><br>
</div>

<div class="page-break"></div>

<!-- grafico por evaluaciones -->
<div id="contenedor">
<br><br>
	<h2>Evaluaciones de cribado</h2>

	<div id="inicio">
		<div id="grafico-evaluaciones-inicio" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="medio">
		<div id="grafico-evaluaciones-medio" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="fin">
		<div id="grafico-evaluaciones-fin" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
</div>


<!-- grafico de progreso -->
<div id="contenedor">

	<h2>Evaluaciones de progreso</h2>

	<div id="diciembre">
		<div id="grafico-progreso-diciembre" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="enero">
		<div id="grafico-progreso-enero" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="marzo">
		<div id="grafico-progreso-marzo" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>
	<div id="abril">
		<div id="grafico-progreso-abril" style="width: 100%;height: 400px;background-color: #FFFFFF"></div>
	</div>

</div>


<script>

	//colores = ["#850202","#f00", "#ffa500", "#009fff","#1ae36e"]
	colores = ["#f00", "#ffa500", "#009fff","#1ae36e"]
</script>


<script>


// generar un diccionario con todas las evaluaciones
// recibidas en el parametro %evaluaciones%.

var evaluaciones = {
{% for evaluacion in evaluaciones %}
// nivel de riesgo
"{{ evaluacion.mes }}" : "{{ evaluacion.evaluado }}",
// evaluacion valida
"{{ evaluacion.mes }}-EVALUADO" : "{{ evaluacion.evaluado }}",
// valores de las tareas
"{{ evaluacion.mes }}-CN" : "{{ evaluacion.CN }}",
"{{ evaluacion.mes }}-EC" : "{{ evaluacion.EC }}",
"{{ evaluacion.mes }}-SN" : "{{ evaluacion.SN }}",
"{{ evaluacion.mes }}-IN" : "{{ evaluacion.IN }}",
"{{ evaluacion.mes }}-CVA" : "{{ evaluacion.CVA }}",
"{{ evaluacion.mes }}-CM" : "{{ evaluacion.CM }}",
{% endfor %}
// valores del OMNIBUS para cada evaluacion
"OMNIBUS-INICIO" : {{ evaluacion_inicio }},
"OMNIBUS-MEDIO": {{ evaluacion_medio }},
"OMNIBUS-FIN": {{ evaluacion_fin }}
};


// devuelve el valor correcto para cada prueba, dependiendo
// del mes de evaluacion. Esta funcion tiene en cuenta que
// si un mes el niño no es evaluado, se debe tomar el ultimo
// mes del que se tiene
function ultima_evaluacion(prueba, evaluacion_actual){


	// recorremos desde la evaluacion actual al a primera.
	for (i = evaluacion_actual; i >= 1; i--) {

		// key de acceso a la puntuacion de la prueba
		var key_tarea = i + "-" + prueba

		// comprobamos si fue evaluado
		if (evaluaciones[i] == "True"){

			// devolvemos la puntuacion de la tarea porque
			// es la mas reciente
			return evaluaciones[key_tarea]

		} else {

			// pasamos a la evaluacion anterior

		}

	}


	return 0
}

function puntuacion_directa(prueba, momento){
	var key = momento + "-" + prueba
	return evaluaciones[key]
}

</script>

<script>


// cambiar la subtarea mostrada en el grafico
function cambiar_subprueba(d) {

	var titulos_graficos = ["CN", "EC", "SN", "IN", "CVA", "CM" ];
	var subtitulos = ["Comparación numérica", "Estimación de cantidad", "Series numéricas",
	"Identificación numérica", "Conteo en voz alta", "Comparación de magnitud"
	];

	var propiedadTitulos = [
		{"text": "",	"size": 25}	,
		{"text": subtitulos[d],	"size": 20},
		{"text": titulos_graficos[d], "size": 10}
	];

	grafico.titles = propiedadTitulos;
	grafico.dataProvider = data_subtareas[d];
	grafico.validateData();
	grafico.validateNow();
}

</script>


<script>

	/*
		Grafico de subtareas, de momento solo voy a mostrar las evaluaciones
		inicio, medio, fin. Despues tendre que preparar el grafico para que muestre
		todas las evaluaciones. Para esto, cuando no tengamos datos de una evaluacion
		de progreso, usaremos la ultima evaluacion conocida

	*/

	// configuracion del grafico
	var max = 10;
	var	punteado = 5;
	var etiquetaEvaluado = "";
	var etiquetaNoEvaluado = "No evaluado";

	// evaluaciones, estos campos indican si el usuario esta evaluado,
	// actualmente el campo es  evaluacion.riesgo => RIESGO_OPCIONES o SIN_EVALUAR
	// TO-DO


	// datasets para cada tarea

	var dataset_CN = [
	{
		"valor-maximo": 64,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 16,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 1)
	},
	{
		"valor-maximo": 64,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 16,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 2)
	},
	{
		"valor-maximo": 64,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 16,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 3)
	},
		{
		"valor-maximo": 64,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 19,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 4)
	},
		{
		"valor-maximo": 64,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 19,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 5)
	},
		{
		"valor-maximo": 64,
		"category": "Abril",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 19,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CN", 6)
	},
	{
		"valor-maximo": 64,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 24,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CN", 7)
	}
	];



	var dataset_EC = [
	{
		"valor-maximo": 36,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 10,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 1)
	},
	{
		"valor-maximo": 36,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
	    "riesgo": 10,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 2)
	},
	{
		"valor-maximo":  36,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 10,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 3)
	},
		{
		"valor-maximo": 36,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 4)
	},
		{
		"valor-maximo": 36,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 5)
	},
		{
		"valor-maximo": 36,
		"category": "Abril",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("EC", 6)
	},
	{
		"valor-maximo":  36,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 11,
		"rendimiento-bajo": 2,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("EC", 7)
	}
	];

	var dataset_SN = [
	{
		"valor-maximo":  36,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 1)
	},
	{
		"valor-maximo": 36,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 2)
	},
	{
		"valor-maximo":  36,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 5,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("SN", 3)
	},
	{
		"valor-maximo":  36,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 4)
	},
	{
		"valor-maximo":  36,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 5)
	},
	{
		"valor-maximo":  36,
		"category": "Abil",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 6,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 6)
	},
	{
		"valor-maximo": 36,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 8,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 0,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("SN", 7)
	}
	];


	var dataset_IN = [
	{
		"valor-maximo": 63,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 12,
		"rendimiento-bajo": 4,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 1)
	},
	{
		"valor-maximo": 63,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 12,
		"rendimiento-bajo": 4,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 2)
	},
	{
		"valor-maximo": 63,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 12,
		"rendimiento-bajo": 4,
		"rendimiento-medio": 3,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 3)
	},
	{
		"valor-maximo": 63,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 20,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 4)
	},
	{
		"valor-maximo": 63,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
			"riesgo": 20,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 5)
	},
	{
		"valor-maximo": 63,
		"category": "Abril",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
			"riesgo": 20,
		"rendimiento-bajo": 3,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("IN", 6)
	},
	{
		"valor-maximo": 63,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 27,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 2,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("IN", 7)
	}
	];


	var dataset_CVA = [
	{
		"valor-maximo": 100,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 26,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 1)
	},
	{
		"valor-maximo": 100,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 26,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 2)
	},
	{
		"valor-maximo": 100,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 26,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 3)
	},
	{
		"valor-maximo": 100,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 28,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 4)
	},
	{
		"valor-maximo": 100,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 28,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 5)
	},
	{
		"valor-maximo": 100,
		"category": "Abril",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 28,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CVA", 6)
	},
	{
		"valor-maximo": 100,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 30,
		"rendimiento-bajo": 7,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CVA", 7)
	}
	];


	var dataset_CM = [
	{
		"valor-maximo": 40,
		"category": "Noviembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 17,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 1)
	},
	{
		"valor-maximo": 40,
		"category": "Diciembre",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
			"riesgo": 17,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 2)
	},
	{
		"valor-maximo": 40,
		"category": "Enero",
		"estilo": evaluaciones[1] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[1] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
			"riesgo": 17,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 3)
	},
	{
		"valor-maximo": 40,
		"category": "Febrero",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 22,
		"rendimiento-bajo": 0,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 4)
	},
	{
		"valor-maximo": 40,
		"category": "Marzo",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 22,
		"rendimiento-bajo": 0,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 5)
	},
	{
		"valor-maximo": 40,
		"category": "Abril",
		"estilo": evaluaciones[4] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[4] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 22,
		"rendimiento-bajo": 0,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno":ultima_evaluacion("CM", 6)
	},
	{
		"valor-maximo": 40,
		"category": "Mayo",
		"estilo": evaluaciones[7] == "True" ? 0 : punteado,
		"etiqueta": evaluaciones[7] == "True" ? etiquetaEvaluado : etiquetaNoEvaluado,
		"riesgo": 23,
		"rendimiento-bajo": 1,
		"rendimiento-medio": 1,
		"rendimiento-optimo": max,
		"rendimiento-alumno": ultima_evaluacion("CM", 7)
	}
	];
	
// lista con los dataproviders de cada subtarea
var data_subtareas = [ 
	dataset_CN, dataset_EC, dataset_SN,  dataset_IN, dataset_CVA, dataset_CM
];

</script>


<script>

 

var datos_por_evaluaciones = [
	{
	"info": "esta primera entrada de datos es solo para ajustar la escala",
	"subtarea": "",
	"rendimiento-inicio": 150,
	"rendimiento-medio": 150,
	"rendimiento-fin": 150,
	"color-inicio":"#ffffff",
	"color-medio":"#ffffff",
	"color-fin":"#ffffff",
	},	
	{
	"subtarea": "CN",
	"rendimiento-inicio": puntuacion_directa("CN", 1),
	"rendimiento-medio": puntuacion_directa("CN", 4),
	"rendimiento-fin": puntuacion_directa("CN", 7),
	"color-inicio": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 1) ) ],
	"color-medio": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 4) )],
	"color-fin": colores[ get_riesgo_CN_fin( puntuacion_directa("CN", 7) )]
	},	
	{
	"subtarea": "EC",
	"rendimiento-inicio": puntuacion_directa("EC", 1),
	"rendimiento-medio": puntuacion_directa("EC", 4),
	"rendimiento-fin": puntuacion_directa("EC", 7),
	"color-inicio": colores[ get_riesgo_EC_inicio( puntuacion_directa("EC", 1) ) ],
	"color-medio": colores[ get_riesgo_EC_medio( puntuacion_directa("EC", 4) )],
	"color-fin": colores[ get_riesgo_EC_fin( puntuacion_directa("EC", 7) )]
	},	
	{
	"subtarea": "SN",
	"rendimiento-inicio": puntuacion_directa("SN", 1),
	"rendimiento-medio": puntuacion_directa("SN", 4),
	"rendimiento-fin": puntuacion_directa("SN", 7),
	"color-inicio": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 1) ) ],
	"color-medio": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 4) )],
	"color-fin": colores[ get_riesgo_SN_fin( puntuacion_directa("SN", 7) )]
	},	
	{
	"subtarea": "IN",
	"rendimiento-inicio": puntuacion_directa("IN", 1),
	"rendimiento-medio": puntuacion_directa("IN", 4),
	"rendimiento-fin": puntuacion_directa("IN", 7),
	"color-inicio": colores[ get_riesgo_IN_inicio( puntuacion_directa("IN", 1) ) ],
	"color-medio": colores[ get_riesgo_IN_medio( puntuacion_directa("IN", 4) )],
	"color-fin": colores[ get_riesgo_IN_fin( puntuacion_directa("IN", 7) )]
	},
	{
	"subtarea": "CVA",
	"rendimiento-inicio": puntuacion_directa("CVA", 1),
	"rendimiento-medio": puntuacion_directa("CVA", 4),
	"rendimiento-fin": puntuacion_directa("CVA", 7),
	"color-inicio": colores[ get_riesgo_CVA_inicio( puntuacion_directa("CVA", 1) ) ],
	"color-medio": colores[ get_riesgo_CVA_medio( puntuacion_directa("CVA", 4) )],
	"color-fin": colores[ get_riesgo_CVA_fin( puntuacion_directa("CVA", 7) )]
	}
];
 
</script>


<script>

	/*
	 datos para las tareas en las medidas
	 de progreso
	*/

 
var datos_graficos_progreso = [
	{
	"info": "esta primera entrada de datos es solo para ajustar la escala",
	"subtarea": "",
	"rendimiento-diciembre": 150,
	"rendimiento-enero": 150,
	"rendimiento-marzo": 150,
	"rendimiento-abril": 150,
	"color-diciembre": "#ffffff",
	"color-enero": "#ffffff",
	"color-marzo": "#ffffff",
	"color-abril": "#ffffff"
	},	

	{
	"subtarea": "CN",
	"rendimiento-diciembre": puntuacion_directa("CN", 1),
	"rendimiento-enero": puntuacion_directa("CN", 1),
	"rendimiento-marzo": puntuacion_directa("CN", 4),
	"rendimiento-abril": puntuacion_directa("CN", 4),
	"color-diciembre": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 1) ) ],
	"color-enero": colores[ get_riesgo_CN_inicio( puntuacion_directa("CN", 1) ) ],
	"color-marzo": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 4) )],
	"color-abril": colores[ get_riesgo_CN_medio( puntuacion_directa("CN", 4) )]
	},

    {
	"subtarea": "EC",
	"rendimiento-diciembre": puntuacion_directa("EC", 1),
	"rendimiento-enero": puntuacion_directa("EC", 1),
	"rendimiento-marzo": puntuacion_directa("EC", 4),
	"rendimiento-abril": puntuacion_directa("EC", 4),
	"color-diciembre": colores[ get_riesgo_EC_inicio( puntuacion_directa("EC", 1) ) ],
	"color-enero": colores[ get_riesgo_EC_inicio( puntuacion_directa("EC", 1) ) ],
	"color-marzo": colores[ get_riesgo_EC_medio( puntuacion_directa("EC", 4) )],
	"color-abril": colores[ get_riesgo_EC_medio( puntuacion_directa("EC", 4) )]
	},
	
	{
	"subtarea": "SN",
	"rendimiento-diciembre": puntuacion_directa("SN", 1),
	"rendimiento-enero": puntuacion_directa("SN", 1),
	"rendimiento-marzo": puntuacion_directa("SN", 4),
	"rendimiento-abril": puntuacion_directa("SN", 4),
	"color-diciembre": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 1) ) ],
	"color-enero": colores[ get_riesgo_SN_inicio( puntuacion_directa("SN", 1) ) ],
	"color-marzo": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 4) )],
	"color-abril": colores[ get_riesgo_SN_medio( puntuacion_directa("SN", 4) )]
	},
	{
	"subtarea": "IN",
	"rendimiento-diciembre": puntuacion_directa("IN", 1),
	"rendimiento-enero": puntuacion_directa("IN", 1),
	"rendimiento-marzo": puntuacion_directa("IN", 4),
	"rendimiento-abril": puntuacion_directa("IN", 4),
	"color-diciembre": colores[ get_riesgo_IN_inicio( puntuacion_directa("IN", 1) ) ],
	"color-enero": colores[ get_riesgo_IN_inicio( puntuacion_directa("IN", 1) ) ],
	"color-marzo": colores[ get_riesgo_IN_medio( puntuacion_directa("IN", 4) )],
	"color-abril": colores[ get_riesgo_IN_medio( puntuacion_directa("IN", 4) )]
	},
    {
	"subtarea": "CVA",
	"rendimiento-diciembre": puntuacion_directa("CVA", 1),
	"rendimiento-enero": puntuacion_directa("CVA", 1),
	"rendimiento-marzo": puntuacion_directa("CVA", 4),
	"rendimiento-abril": puntuacion_directa("CVA", 4),
	"color-diciembre": colores[ get_riesgo_CVA_inicio( puntuacion_directa("CVA", 1) ) ],
	"color-enero": colores[ get_riesgo_CVA_inicio( puntuacion_directa("CVA", 1) ) ],
	"color-marzo": colores[ get_riesgo_CVA_medio( puntuacion_directa("CVA", 4) )],
	"color-abril": colores[ get_riesgo_CVA_medio( puntuacion_directa("CVA", 4) )]
	},
	{
	"subtarea": "CM",
	"rendimiento-diciembre": puntuacion_directa("CM", 1),
	"rendimiento-enero": puntuacion_directa("CM", 1),
	"rendimiento-marzo": puntuacion_directa("CM", 4),
	"rendimiento-abril": puntuacion_directa("CM", 4),
	"color-diciembre": colores[ get_riesgo_CM_inicio( puntuacion_directa("CM", 1) ) ],
	"color-enero": colores[ get_riesgo_CM_inicio( puntuacion_directa("CM", 1) ) ],
	"color-marzo": colores[ get_riesgo_CM_medio( puntuacion_directa("CM", 4) )],
	"color-abril": colores[ get_riesgo_CM_medio( puntuacion_directa("CM", 4) )]
	}

];
 
</script>


<script>

	var grafico =  new AmCharts.makeChart("grafico-por-tareas",
				{
					"type": "serial",
					"categoryField": "category",
					"sequencedAnimation": false,
					"accessible": false,
					"tapToActivate": false,
					"categoryAxis": {
						"startOnAxis": true
					},
					"plotAreaFillAlphas": 1,
					"plotAreaFillColors": "#78E935",
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColors": "#850202",
							"id": "area-alto-riesgo",
							"lineAlpha": 0,
							"title": "Alto riesgo",
							"valueField": "alto-riesgo"
						},
						{
							"fillAlphas": 1,
							"fillColors": "#F21919",
							"id": "area-riesgo",
							"lineAlpha": 0,
							"title": "Riesgo",
							"valueField": "riesgo"
						},
						{
							"fillAlphas": 1,
							"id": "area-bajo-rendimiento",
							"lineAlpha": 0,
							"title": "Rendimiento bajo",
							"valueField": "rendimiento-bajo"
						},
						{
							"fillAlphas": 1,
							"lineAlpha": 0,
							"id": "area-media",
							"fillColors": "#538DE0",
							"title": "Rendimiento medio",
							"valueField": "rendimiento-medio"
						},

						{
							// marca el maximo de la tarea
							"fillColors": "#000000",
							"id": "maximo-tarea",
							"lineColor": "#00C300",
							"lineThickness": 10,
							"stackable": false,
							"title": "Rendimiento óptimo",
							"valueField": "valor-maximo"
						},

						{
							"fillColors": "#000000",
							"id": "rendimiento",
							"lineColor": "#000000",
							"lineThickness": 3,
							"stackable": false,
							"title": "Rendimiento del alumno",
							"valueField": "rendimiento-alumno",
							"bullet": "round",
							"dashLengthField":"estilo",
							"labelText": "[[etiqueta]]",
						}
					],
					"guides": [],
					"valueAxes": [{
					"id": "ValueAxis-1",
					"stackType": "regular",
					"title": "Rendimiento",
					// valores maximos y minimos
					"maximum": "valor-maximo",
					"minimum": 0
					}
					],

					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"switchable": false
					},
					"titles": [
						{
							"id": "titulo",
							"size": 25,
							"text": ""
						},
						{"text": "Comparaciones numéricas",	"size": 20},
						{"text": "CN",	"size": 10}
					],
					"dataProvider": dataset_CN
				}
			);
</script>




<script>
 

	var linea_base = 0;

			AmCharts.makeChart("grafico-evaluaciones-inicio",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-inicio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-inicio",
							"hidden": evaluaciones[1] != "NOEV" ? false : true
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Inicio"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);


			AmCharts.makeChart("grafico-evaluaciones-medio",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"gridAboveGraphs": true,
					"creditsPosition": "bottom-right",
					"rotate": true,
					"sequencedAnimation": false,
					"accessible": false,
					"categoryAxis": {

					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-medio",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-medio",
							"hidden": evaluaciones[4] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.32
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Medio"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);


			AmCharts.makeChart("grafico-evaluaciones-fin",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"creditsPosition": "bottom-right",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"accessible": false,
					"categoryAxis": {

					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-fin",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-fin",
							"hidden": evaluaciones[7] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.31
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Fin"
						}
					],
					"dataProvider": datos_por_evaluaciones
				}
			);

 
</script>


<script>
 
	var linea_base = 0;
	AmCharts.makeChart("grafico-progreso-diciembre",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-diciembre",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-diciembre",
							//"hidden": evaluaciones[2] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Diciembre"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

			AmCharts.makeChart("grafico-progreso-enero",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-enero",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-enero",
							//"hidden": evaluaciones[3] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Enero"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);



				AmCharts.makeChart("grafico-progreso-marzo",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-marzo",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-marzo",
							//"hidden": evaluaciones[5] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Marzo"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

				AmCharts.makeChart("grafico-progreso-abril",
				{
					"type": "serial",
					"categoryField": "subtarea",
					"rotate": true,
					"gridAboveGraphs": true,
					"sequencedAnimation": false,
					"creditsPosition": "bottom-right",
					"accessible": false,
					"categoryAxis": {
						"gridPosition": "start"
					},
					"trendLines": [],
					"graphs": [
						{
							"fillAlphas": 1,
							"fillColorsField": "color-abril",
							"id": "indicador-riesgo",
							"title": "graph 1",
							"type": "column",
							"showBalloon": false,
							"lineThickness": 0,
							"valueField": "rendimiento-abril",
							//"hidden": evaluaciones[6] != "NOEV" ? false : true
						}
					],
					"guides": [
						{
							"above": true,
							"dashLength": 5,
							"id": "linea-riesgo",
							"inside": true,
							"label": "Riesgo",
							"labelRotation": 90,
							"lineAlpha": 1,
							"lineColor": "#ff0000",
							"value": -0.55
						}
					],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
                            "baseValue": linea_base,
							"fontSize": 9,
							"includeGuidesInMinMax": true,
							"maximum": 150,
							"minimum": 0,
							"strictMinMax": true
						}
					],
					"allLabels": [],
					"balloon": {},
					"titles": [
						{
							"id": "titulo",
							"size": 15,
							"text": "Abril"
						}
					],
					"dataProvider": datos_graficos_progreso
				}
			);

 
</script>


{% endblock %}
