{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Grupos/Aulas en mi centro de estudios</h1>


<div class="form-style-1" style="padding: 30px">

    <button type="button" class="save btn btn-default" onclick="window.location.href='{{ url_retorno }}'"
    >👈 Volver</button>

</div>



<table>
	<tr>
		<!--<th>Acceso</th>-->
		<th>Nombre</th>
		<th>Curso</th>
		<th>Año académico</th>
		<th>Agregar</th>

	</tr>  		
		{% for grupo in grupos %}
		<tr>
				<!-- usar este grupo 👉-
			<td>

				<a href="{{ server_url }}lista-alumnos-grupo/?idGrupo={{grupo.pk | safe}}">🚪 Entrar</a>
			</td>-->
			<td>{{ grupo.nombre }}</td>
			<td>{{ grupo.curso }}</td>
			<td>{% get_curso grupo.curso_academico %}</td>
			<!-- agregar el aula -->
			<td>

				<a href="{{ server_url }}compartir-grupo-centro/?idGrupo={{grupo.pk | safe}}">🔌 Agregar</a>
			</td>


		</tr>
		{% endfor %}
</table>


{% endblock %}
