{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Alumnos en {{ grupo.nombre }} ({{ grupo.curso}})</h1>

<div class="form-style-1" style="padding: 30px">


	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}lista-grupos/?idGrupo={{ grupo.pk }}'">👪 Volver a mis grupos</button>

	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}nuevo-alumno/?idGrupo={{ grupo.pk }}'">👤 Nuevo alumno</button>

	<!--
	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}compartir-grupo/?idGrupo={{ grupo.pk }}'">🙋 Compartir grupo</button>
	-->

	<!-- botones de infomes generales -->

	{% if grupo.curso != "TERCERO" %}
			<button type="button" class="save btn btn-default"
			onclick="window.location.href='{{ server_url }}informe-grupo/?idGrupo={{ grupo.pk }}&prueba=IPAL'">📊 Informe de grupo IPAL</button>
	{% endif %}

	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}informe-grupo/?idGrupo={{ grupo.pk }}&prueba=IPAM'">📊 Informe de grupo IPAM</button>

	{% if grupo.curso != "INFANTIL" %}
	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}informe-grupo/?idGrupo={{ grupo.pk }}&prueba=IPAE'">📊 Informe de grupo IPAE</button>
	{% endif %}

	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}actualizar-curso-grupo/?idGrupo={{ grupo.pk }}'">📅 Actualizar año escolar</button>

</div>


	<!-- filtrar alumnos por curso
	<form action="{{ server_url }}lista-alumnos-grupo/" class="post-form" style="padding: 0px 30px">
 		{% csrf_token %}

		<input type="number" name="cursoAcademico" value={{ curso_filtrado }} style="width: 60px">
		<button type="submit" class="save btn btn-default">Filtrar</button>
		<input type="hidden" name="idGrupo" value="{{ grupo.pk }}">

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}lista-alumnos-grupo/?idGrupo={{ grupo.pk }}&cursoAcademico=todos'">Mostrar todos</button>

    </form>
	-->
	<!--<a href="{{ index }}establecer-curso">📅 Establecer año académico</a>-->
<script>


// generar un diccionario con todos los riesgos
// recibidos en el parametro %evaluaciones%

var riesgos = {
{% for evaluacion in evaluaciones %}
    "{{ evaluacion.alumno.pk }}-RIESGO-{{ evaluacion.prueba }}-{{ evaluacion.momento}}" : "{{ evaluacion.color_riesgo }}",
    "{{ evaluacion.alumno.pk }}-EVALUADO-{{ evaluacion.prueba }}-{{ evaluacion.momento}}" : "{{ evaluacion.evaluado }}",
    {% endfor %}
};


</script>


	<table>

        <thead>
            <th colspan="4">Datos del alumno</th>
            <th colspan="3">Evaluaciones</th>
        </thead>
	<tr>
        <th>Ficha</th>
        <th>Código</th>
        <th>Género</th>
		<th>Curso</th>
		<th>Curso académico</th>
        <th>IPAL</th>
        <th>IPAM</th>
        <th>IPAE</th>

	</tr>

		{% for alumno in alumnos %}

		<tr>

             <td>
				<!-- editar alumno -->
				<a href="{{ server_url }}editar-alumno/?idAlumno={{alumno.pk | safe}}
				&idGrupo={{alumno.grupo.pk | safe}}" style="font-size:23px" >📋</a>
			</td>



			<!-- controlamos el curso del alumno, si no coincide
			con el curso asignado al grupo mostramos un indicador
			de alerta al evaluador style="  text-align: left;"-->
			<td >

				{{ alumno.codigo }}

			</td>



            <td>{{ alumno.get_sexo_display }}</td>

			<td>
				{% if alumno.curso != grupo.curso %}
					<b  style="color:red">{{ alumno.curso }} ⚠</b>
				{% else %}
					{{ alumno.curso }}
				{% endif %}

			</td>

			<td>
				{% if alumno.curso_academico != grupo.curso_academico %}
					<b  style="color:red">	{% get_curso alumno.curso_academico %} ⚠</b>
				{% else %}
						{% get_curso alumno.curso_academico %}
				{% endif %}

			</td>
            <td>


				{% if alumno.curso == "TERCERO" %}
					-
				{% else %}



                <!-- ver informe IPAL -->
				<a href="{{ server_url }}informe-individual/
				?idGrupo={{ grupo.pk }}&idAlumno={{alumno.pk}}&prueba=IPAL" style="font-size:23px">📊</a>
				<!-- listar evalauciones -->
				<a href="{{ server_url }}lista-evaluaciones/
				?idAlumno={{alumno.pk | safe}}
				&tipo=IPAL
				&idGrupo={{alumno.grupo.pk | safe}}" style="font-size:23px">📝</a>
                <!-- riesgo IPAL -->
                <div style = "display: inline-block;">
					 <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAL_INICIO %};width:10px;height:10px;"></div>
					<div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAL_MEDIO %};width:10px;height:10px;"></div>
                	<div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAL_FIN %};width:10px;height:10px;"></div>
                </div>
				{% endif %}
            </td>

            <td>
				<!-- ver informe IPAM  📃-->
				<a href="{{ server_url }}informe-individual/
				?idGrupo={{ grupo.pk }}&idAlumno={{alumno.pk}}&prueba=IPAM" style="font-size:23px">📊</a>
				<!-- listar evalauciones -->
				<a href="{{ server_url }}lista-evaluaciones/
				?idAlumno={{alumno.pk | safe}}
				&tipo=IPAM
				&idGrupo={{alumno.grupo.pk | safe}}" style="font-size:23px">📝</a>
                <!-- riesgo IPAM -->
                <div style = "display: inline-block;">
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAM_INICIO %};width:10px;height:10px;"></div>
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAM_MEDIO %};width:10px;height:10px;"></div>
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAM_FIN %};width:10px;height:10px;"></div>
                </div>
			</td>



            <td>

				<!-- IPAE no tiene version para INFANTIL,
				no deberia mostrarse si el alumno es de INFANTIL
				-->

				{% if alumno.curso == "INFANTIL" %}
					-
				{% else %}


                <!-- ver informe IPAE -->
				<a href="{{ server_url }}informe-individual/
				?idGrupo={{ grupo.pk }}&idAlumno={{alumno.pk}}&prueba=IPAE" style="font-size:23px">📊</a>
				<!-- listar evalauciones -->
				<a href="{{ server_url }}lista-evaluaciones/
				?idAlumno={{alumno.pk | safe}}
				&tipo=IPAE
				&idGrupo={{alumno.grupo.pk | safe}}" style="font-size:23px">📝</a>
                <!-- riesgo IPAE -->

                <div style = "display: inline-block;">
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAE_INICIO %};width:10px;height:10px;"></div>
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAE_MEDIO %};width:10px;height:10px;"></div>
                <div style = "display: inline-block;background-color: {% color evas|get_item:alumno.key_IPAE_FIN %};width:10px;height:10px;"></div>
                </div>

				{% endif %}

            </td>
		</tr>

		{% endfor %}

	</table>


{% endblock %}
