{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Mis alumnos</h1>
<h2>Ordenados por grupo</h2>

<style>
	table {
		border-collapse: collapse;
		text-align: center;
		width: 700px;
		margin:0 auto;
		font: 13px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	}
	th, td {
		padding: 8px;
		text-align: center;
		border-bottom: 1px solid #ddd;
	}
	tr:nth-child(even){background-color: #f2f2f2}		
}

</style>

	<table>
	<tr>
		<th>X</th>
		<th>Código</th>
		<th>Grupo</th>
		<th>Curso</th>
		<th>Centro</th>
		<th>X</th>
	</tr>

		{% for alumno in alumnos %}

		<tr>
			<td>
				<!-- usar este grupo
				<a href="{{ server_url }}listar_alumnos_evaluador/?id={{grupo.pk | safe}}">Usar</a>-->
			</td>
			<td>{{ alumno.codigo }}</td>
			<td>{{ alumno.grupo }}</td>
            <td>{{ alumno.curso }}</td>
			<td>{{ alumno.centro }}</td>
			<td>
				<!-- editar grupo
				<a href="{{ server_url }}editar-grupo/?id={{grupo.pk | safe}}">Editar</a> -->
			</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}