{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}


<h1>Evaluaciones {{ tipo }}-{{ curso }}</h1>
<h2>{{ alumno.codigo }}</h2>


<div class="form-style-1" style="padding: 30px">

	<button type="button" class="save btn btn-default"
	onclick="window.location.href='{{ server_url }}lista-alumnos-grupo/?idGrupo={{ alumno.grupo.pk }}'">👈 Volver</button>

    <button type="button" class="save btn btn-default"
	onclick="window.location.href='{{ server_url }}nueva-evaluacion/?idAlumno={{alumno.pk | safe}}&tipo={{ tipo }}'">📆 Nueva evaluación {{ tipo }}</button>

</div>

	<table>
	<tr>

		<th>Tipo</th>
		<th>Momento</th>
		<th>Mes</th>
		<th>Omnibus</th>
		<th>Riesgo</th>
		<th>Editar</th>
		<th>Curso académico</th>

	</tr>

		{% for evaluacion in evaluaciones %}

		<tr>

			<!-- Tipo de evaluacion -->
			<td  >
				{% if evaluacion.tipo == "PR" %}
					📈 PROGRESO
				{% else %}
					🚩 CRIBADO
				{% endif %}
			</td>

			<!-- Momento de evaluacion -->
			<td>
				{% if evaluacion.tipo == "PR" %}
					-
				{% else %}
					{{ evaluacion.momento }}
				{% endif %}
			</td>

			<!-- en IPAE el primer mes no es noviembre, es octubre,
			esto no afecta a la plataforma, es solo para no confundir a los
			maesteros
			{% if tipo == 'IPAE' and evaluacion.mes_leible == 'Noviembre' %}
					<td>Octubre</td>
			{% else %}
			{% endif %}
			-->

			<td>{{ evaluacion.mes_leible }}</td>

			<!-- mostramos avisos si la tarea se ha completado,
			si no se ha completado porque faltan tareas o
			si no se ha metido ninguna tarea
			-->

			{% if evaluacion.tipo == "CR" %}
				{% es_evaluacion_completa evaluacion.tareas as completa%}
				{% es_evaluacion_incompleta evaluacion.tareas as incompleta%}
			{% else %}
				{% es_evaluacion_completa evaluacion.tareas_progreso as completa%}
				{% es_evaluacion_incompleta evaluacion.tareas_progreso as incompleta%}
			{% endif %}


			{% if evaluacion.evaluado == True and completa %}

				{% if evaluacion.tipo == "CR" %}
					<td>{{ evaluacion.omnibus }}</td>
				{% else %}
					<td>Evaluado</td>
				{% endif %}

			{% else %}

				<!-- se ha evaluado al alumno pero faltan tareas! -->


				{% if incompleta %}
					<td style="color:red"><b>Faltan tareas ⚠</b></td>
				{% else %}
					<!-- simplemente no se ha evaluado al alumno -->
					<td>Sin evaluar</td>
				{% endif %}

			{% endif %}




			<!-- Nivel de riesgo: si la evaluacion es de progreso
			 no tiene el riesgo calculado, hay que usar la de la ultima
			 evaluacion de cribado -->
			<td>
				{% if evaluacion.tipo == "PR" %}
					-
				{% else %}
					 {% with 'imagenes/'|add:evaluacion.riesgo|add:'.png' as indicador %}
						<img  style="width:20px;height:20px;" align="top"
                		src="{% static indicador %}">
                	{% endwith %}
				{% endif %}
			</td>

			<!-- editar evaluacion -->
			<td>
				<a href="{{ server_url }}editar-evaluacion/
				?idEvaluacion={{evaluacion.pk | safe}}
				&tipo={{ tipo }}
				&curso={{ curso }}" style="font-size:20px" >📋</a>
			</td>

			<td>{{ evaluacion.curso_academico }}</td>

		</tr>

		{% endfor %}

	</table>

{% endblock %}