{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block content %}

<h1>Plataforma RtI</h1>

<div class="form-style-1" style="padding: 30px; font-size: 20px; text-align: center;">


    {% if user.is_authenticated %}

    <!-- texto que se muestra cuando estas logeado -->



    {% else %}

    <!-- texto cuando no tienes acceso a la plataforma -->

    Si ya cuenta con un nombre de usuario y una contraseña, puede acceder a la plataforma
    mediante el botón <a href="{{ server_url }}login">🚪 Iniciar sesión</a> de la barra
    de navegación.
    <br>
    Si desea registrarse en la plataforma como un nuevo evaluador, pulse el aquí
    <a href="{{ server_url }}alta">🙋 Darse de alta</a>


    {% endif %}


</div>

{% endblock %}






<!--
<div class="form-style-1">

	<form>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}alta'">🙋 Nuevo evaluador</button>
		<br><br>

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}editar-evaluador'">👤 Mi perfil de evaluador</button>
		<br><br>

	 	<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}lista-grupos'">👪 Ver mis grupos</button>


		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}establecer-curso'">📅 Establecer año académico</button>

		<br><br>
		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}documentos'">💼 Documentos</button>
		<br><br>

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}exportar'">💾 Exportar datos</button>
		<br><br>

		<button type="button" class="save btn btn-default"
		onclick="window.location.href='{{ server_url }}'">🙇 Ayuda</button>
    </form>

</div>
-->
