{% extends 'base.html' %}
{% load app_filters %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


{% block content %}

 <h1>Registro como evaluador</h1>
 <br>

    <form method="POST" class="post-form" style="padding: 30px">
   <!--<form method="POST" class="post-form">-->
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}


    <br>
    <button type="submit" class="save btn btn-default">Guardar</button>

    <button type="button" class="save btn btn-default"
            onclick="window.location.href='{{ server_url }}'">Cancelar</button>



</form>

{% endblock %}

