 
 
	@media print {
		.page-break { display: block; page-break-before: always; }
	}
 
 
	table {
		border-collapse: collapse;
		text-align: center;
		width: 1000px;
		margin:0 auto;
		/*font: 23px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; */
	}
	
	th, td {
		padding: 8px;
		text-align: center;
		border-bottom: 1px solid #ddd;
	}
	
	tr:nth-child(even){background-color: #f2f2f2}		
	 
	
	h1 {padding: 20px 30px}
	h2 {padding: 00px 30px}
	
	
	
	
	
	table.formularios {
		border-collapse: collapse;
		width: 600px;
		text-align: left;
		margin:0 auto;
	}

	th.formularios, td.formularios {
		padding: 8px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	/*tr.formularios:nth-child(even){background-color: #f2f2f2}*/

	 
	
	table.login {
		border-collapse: collapse;
		width: 600px;
		text-align: left;
		margin:0 auto;
	}

	th.login, td.login {
		padding: 8px;
		text-align: left;
		border-bottom: 0px solid #ddd;
	}

	tr.login{background-color: #ffffff}
	
	
	
	#contenedor {
	 
		width: 1040px;
		margin: 0 auto;
	}
	#inicio {
		float: left;
		width: 320px;
	}
	#medio {
		float: left;
		width: 320px;
	}
	#fin {
		float: left;
		width: 320px;
	}

	#diciembre {
		float: left;
		width: 260px;
	}
	#enero {
		float: left;
		width: 260px;
	}
	#marzo {
		float: left;
		width: 260px;
	}
	#abril {
		float: left;
		width: 260px;
	}
	
	 